* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .text__bold {
    font-weight: bold;
    font-size: 14px;
    height: 30px;
  }
  #time {
    width: 60%;
  }
  .color__blue {
    color: rgb(0, 195, 255);
  }
  .Table__Choose {
    width: 60%;
    margin: 0 auto;
  }
  .Table_Bill {
    margin-top: 20px;
  }
  .Table__Choose table {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    height: 180px;
    background-color: #0033CC;
  }
  .Table__Choose table select {
    top: -55px;
    position: relative;
  }
  .Table__Choose table tr:first-child {
    height: 30px;
  }
  .Table__Choose p{
    font-weight: bold;
    font-size: 12px;
    color:#CCCC99 ;
  }
  .Table_Bill table tr td:first-child {
    text-align: left;

  }
  .text_center{
    text-align: center;
    height: 20px;
  }
  .flex {
    display: flex;
  }
  table,
  th,
  td,
  tr {
    border: 1px solid black;
    border-collapse: collapse;

    
  }
  .bang tr td{
    height: 25px;
  }
  .textinp{
      width: 50px;
  }
  #ban{
    height: 30px;
  }
  .in{
    margin: 10px;
  }
  #cangiua{
    display:flex;
    justify-content: center;
    top: 0;
  }